<div class='row'>
  <div class='col-sm-6 offset-sm-3'>
    <div class='card'>
      <div class='card-header'><%= device.persisted? ? 'Edit' : 'New'  %> device</div>
      <%= form_for(device, class: 'form-horizontal') do |form| %>
        <div class='card-body'>
          <div class='form-group row'>
            <%= form.label(:uuid, class: 'col-form-label col-sm-4') %>
            <div class='col-sm-8'>
              <%= form.text_field(:uuid, class: 'form-control form-control-sm') %>
            </div>
          </div>
          <div class='form-group row'>
            <%= form.label(:name, class: 'col-form-label col-sm-4') %>
            <div class='col-sm-8'>
              <%= form.text_field(:name, autofocus: true, class: 'form-control form-control-sm') %>
            </div>
          </div>
        </div>
        <div class='card-footer'>
          <div class='clearfix'>
            <%= link_to('Cancel', devices_path, class: 'btn btn-sm btn-secondary') %>
            <div class='float-right'>
              <%= form.submit(class: 'btn btn-sm btn-primary') %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
