<div class='row'>
  <div class='col-sm-6 offset-sm-3'>
    <div class='card'>
      <div class='card-header'>Forgot your password?</div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class='card-body'>
          <div class='form-group row'>
            <%= f.label :email, class: 'col-form-label col-sm-3' %>
            <div class='col-sm-9'>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class='card-footer'>
          <div class='clearfix'>
            <div class='float-right'>
              <%= f.submit 'Send me reset password instructions', class: 'btn btn-sm btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'devise/shared/links' %>
  </div>
</div>
