<div class='sm:w-full sm:flex sm:justify-center p-4'>
  <table class='table-fixed overflow-auto text-sm'>
    <thead>
      <tr class='text-justify text-xs'>
        <th class='px-2 py-1 hidden md:table-cell'>Command</th>
        <th class='px-2 py-1 hidden md:table-cell'>Data</th>
        <th class='px-2 py-1'>Description</th>
        <th class='px-2 py-1'>Timestamp</th>
        <th class='px-2 py-1'>Priority</th>
        <th class='px-2 py-1 hidden md:table-cell'>Partition</th>
        <th class='px-2 py-1 hidden md:table-cell'>Zone</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr class='text-xs'>
          <td class='border hidden md:table-cell'><%= event.command %></td>
          <td class='border hidden md:table-cell'><%= event.data %></td>
          <td class='border'><%= event.description %></td>
          <td class='border'><%= event.timestamp.in_time_zone(current_user.time_zone) %></td>
          <td class='border'><%= event.priority %></td>
          <td class='border hidden md:table-cell'><%= event.partition %></td>
          <td class='border hidden md:table-cell'><%= event.zone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class='w-auto text-center'>
  <%== pagy_nav(@pagy) %>
</div>
