<div class='row'>
  <div class='col-sm-6 offset-sm-3'>
    <div class='card'>
      <div class='card-header'>Log-in</div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class='card-body'>
          <div class='form-group row'>
            <%= f.label :email, class: 'col-form-label col-sm-3' %>
            <div class='col-sm-9'>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control form-control-sm' %>
            </div>
          </div>

          <div class='form-group row'>
            <%= f.label :password, class: 'col-form-label col-sm-3' %>
            <div class='col-sm-9'>
              <%= f.password_field :password, autocomplete: 'off', class: 'form-control form-control-sm' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class='form-group row'>
              <div class='col-sm-9 offset-sm-3'>
                <div class='form-check'>
                  <%= f.check_box :remember_me, class: 'form-check-input' %>
                  <%= f.label :remember_me, class: 'form-check-label' %>
                </div>
              </div>
            </div>
          <% end -%>
        </div>
        <div class='card-footer'>
          <div class='clearfix'>
            <div class='float-right'>
              <%= f.submit 'Log in', class: 'btn btn-sm btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'devise/shared/links' %>
  </div>
</div>
