<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for(:title) || Mimir %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <%= render partial: 'shared/alerts' %>

    <div class='h-screen flex flex-row'>
      <%= render partial: 'shared/sidebar' %>

      <div class='w-full justify-center'>
        <%= yield %>
      </div>
    </div>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
